body{
    background-image: url('../images/japan.jpg');
    margin: auto;
    max-width: 900px;
}

.divLine{
    display: table;
    height: 90px;
    width: 800px;
}

.divCell[data-constant='true'],.divCell:hover[data-constant='true'] {
    background-color: #b5c0ff;
}


.divCell{
    transition: background-color 300ms;
    transition: transform 300ms;
}

.divCell, .divCell:hover, .divCell:active{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;

    width: 10px;
    height: 10px;
    background-color: #ffffff;

    border-width: 1px;
    border-style: solid;
    border-color: rgb(37, 37, 37);
    
    min-width: 90px;
    min-height: 90px;

    cursor: pointer;
}

.divCell:hover{
    transform: scale(1.5);
}

.divCell:active{
    background-color: #003cff;
}

.Header{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 48px;
    color: #b5c0ff;
}