.divLine{
    display: table;
    height: 60px;
    width: 540px;
}

.divCell, .divCell:hover, .divCell:active{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    width: 10px;
    height: 10px;
    background-color: #f0f0f0;

    border-width: 1px;
    border-style: solid;
    border-color: rgb(37, 37, 37);
    
    min-width: 60px;
    min-height: 60px;
}

.divCell:hover{
    background-color: #ffff0f;
    
}

.divCell:active{
    background-color: #a1a18b;
}

.Header{
    font-family: 'Roboto', sans-serif;
}